<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buzheng.demo.esm.dao.ServiceAreaMapper">
  <resultMap id="BaseResultMap" type="org.buzheng.demo.esm.domain.ServiceArea">
    <result column="AREA_ID" jdbcType="VARCHAR" property="areaId" />
    <result column="OTB_CODE" jdbcType="VARCHAR" property="otbCode" />
    <result column="ADDR_ID" jdbcType="VARCHAR" property="addrId" />
    <result column="ADDR_FULLNAME" jdbcType="VARCHAR" property="addrFullname" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    AREA_ID, OTB_CODE, ADDR_ID, ADDR_FULLNAME, REMARK
  </sql>
  <select id="selectByExample" parameterType="org.buzheng.demo.esm.domain.ServiceAreaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SERVICE_AREA
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.buzheng.demo.esm.domain.ServiceAreaExample">
    delete from SERVICE_AREA
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.buzheng.demo.esm.domain.ServiceArea">
    insert into SERVICE_AREA (AREA_ID, OTB_CODE, ADDR_ID, 
      ADDR_FULLNAME, REMARK)
    values (#{areaId,jdbcType=VARCHAR}, #{otbCode,jdbcType=VARCHAR}, #{addrId,jdbcType=VARCHAR}, 
      #{addrFullname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.buzheng.demo.esm.domain.ServiceArea">
    insert into SERVICE_AREA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        AREA_ID,
      </if>
      <if test="otbCode != null">
        OTB_CODE,
      </if>
      <if test="addrId != null">
        ADDR_ID,
      </if>
      <if test="addrFullname != null">
        ADDR_FULLNAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="otbCode != null">
        #{otbCode,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null">
        #{addrId,jdbcType=VARCHAR},
      </if>
      <if test="addrFullname != null">
        #{addrFullname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.buzheng.demo.esm.domain.ServiceAreaExample" resultType="java.lang.Long">
    select count(*) from SERVICE_AREA
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SERVICE_AREA
    <set>
      <if test="record.areaId != null">
        AREA_ID = #{record.areaId,jdbcType=VARCHAR},
      </if>
      <if test="record.otbCode != null">
        OTB_CODE = #{record.otbCode,jdbcType=VARCHAR},
      </if>
      <if test="record.addrId != null">
        ADDR_ID = #{record.addrId,jdbcType=VARCHAR},
      </if>
      <if test="record.addrFullname != null">
        ADDR_FULLNAME = #{record.addrFullname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SERVICE_AREA
    set AREA_ID = #{record.areaId,jdbcType=VARCHAR},
      OTB_CODE = #{record.otbCode,jdbcType=VARCHAR},
      ADDR_ID = #{record.addrId,jdbcType=VARCHAR},
      ADDR_FULLNAME = #{record.addrFullname,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>