<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buzheng.demo.esm.dao.FileTopicMapper">
  <resultMap id="BaseResultMap" type="org.buzheng.demo.esm.domain.FileTopic">
    <id column="TOPIC_ID" jdbcType="VARCHAR" property="topicId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <resultMap id="InnerJoinMap" type="org.buzheng.demo.esm.domain.FileTopic" extends="BaseResultMap">
    <association property="user" javaType="org.buzheng.demo.esm.domain.SysUser">
    	<id column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TOPIC_ID, USER_ID, TITLE, REMARK, ADD_TIME
  </sql>
  <select id="selectByExample" parameterType="org.buzheng.demo.esm.domain.FileTopicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FILE_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleInnerjoinUser" parameterType="org.buzheng.demo.esm.domain.FileTopicExample" resultMap="InnerJoinMap">
    select * 
     from FILE_TOPIC f inner join sys_user s on f.user_id = s.user_id 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FILE_TOPIC
    where TOPIC_ID = #{topicId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from FILE_TOPIC
    where TOPIC_ID = #{topicId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.buzheng.demo.esm.domain.FileTopicExample">
    delete from FILE_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.buzheng.demo.esm.domain.FileTopic" >
   <selectKey resultType="java.lang.String" keyProperty="topicId" order="BEFORE">
   SELECT sys_guid() FROM DUAL
  </selectKey>
    insert into FILE_TOPIC (TOPIC_ID, USER_ID, TITLE, 
      REMARK, ADD_TIME)
    values (#{topicId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.buzheng.demo.esm.domain.FileTopic">
   <selectKey resultType="java.lang.String" keyProperty="topicId" order="BEFORE">
   SELECT sys_guid() FROM DUAL
  </selectKey>
    insert into FILE_TOPIC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        TOPIC_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="addTime != null">
        ADD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.buzheng.demo.esm.domain.FileTopicExample" resultType="java.lang.Long">
    select count(*) from FILE_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update FILE_TOPIC
    <set>
      <if test="record.topicId != null">
        TOPIC_ID = #{record.topicId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update FILE_TOPIC
    set TOPIC_ID = #{record.topicId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.buzheng.demo.esm.domain.FileTopic">
    update FILE_TOPIC
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TOPIC_ID = #{topicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.buzheng.demo.esm.domain.FileTopic">
    update FILE_TOPIC
    set USER_ID = #{userId,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
    where TOPIC_ID = #{topicId,jdbcType=VARCHAR}
  </update>
</mapper>