<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buzheng.demo.esm.dao.TOtbMapper">
  <resultMap id="BaseResultMap" type="org.buzheng.demo.esm.domain.TOtb">
    <id column="OTB_CODE" jdbcType="VARCHAR" property="otbCode" />
    <result column="OTB_NAME" jdbcType="VARCHAR" property="otbName" />
    <result column="BUILD_ADDRESS" jdbcType="VARCHAR" property="buildAddress" />
    <result column="ADDR5_ID" jdbcType="VARCHAR" property="addr5Id" />
    <result column="ADDR5_FULLNAME" jdbcType="VARCHAR" property="addr5Fullname" />
    <result column="POLYGON_LONLAT" jdbcType="VARCHAR" property="polygonLonlat" />
    <result column="LON" jdbcType="DECIMAL" property="lon" />
    <result column="LAT" jdbcType="DECIMAL" property="lat" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    OTB_CODE, OTB_NAME, BUILD_ADDRESS, ADDR5_ID, ADDR5_FULLNAME, POLYGON_LONLAT, LON, 
    LAT, REMARK, STATE
  </sql>
  <select id="selectByExample" parameterType="org.buzheng.demo.esm.domain.TOtbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_OTB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_OTB
    where OTB_CODE = #{otbCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_OTB
    where OTB_CODE = #{otbCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.buzheng.demo.esm.domain.TOtbExample">
    delete from T_OTB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.buzheng.demo.esm.domain.TOtb">
    insert into T_OTB (OTB_CODE, OTB_NAME, BUILD_ADDRESS, 
      ADDR5_ID, ADDR5_FULLNAME, POLYGON_LONLAT, 
      LON, LAT, REMARK, STATE
      )
    values (#{otbCode,jdbcType=VARCHAR}, #{otbName,jdbcType=VARCHAR}, #{buildAddress,jdbcType=VARCHAR}, 
      #{addr5Id,jdbcType=VARCHAR}, #{addr5Fullname,jdbcType=VARCHAR}, #{polygonLonlat,jdbcType=VARCHAR}, 
      #{lon,jdbcType=DECIMAL}, #{lat,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{state,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.buzheng.demo.esm.domain.TOtb">
    insert into T_OTB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="otbCode != null">
        OTB_CODE,
      </if>
      <if test="otbName != null">
        OTB_NAME,
      </if>
      <if test="buildAddress != null">
        BUILD_ADDRESS,
      </if>
      <if test="addr5Id != null">
        ADDR5_ID,
      </if>
      <if test="addr5Fullname != null">
        ADDR5_FULLNAME,
      </if>
      <if test="polygonLonlat != null">
        POLYGON_LONLAT,
      </if>
      <if test="lon != null">
        LON,
      </if>
      <if test="lat != null">
        LAT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="state != null">
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="otbCode != null">
        #{otbCode,jdbcType=VARCHAR},
      </if>
      <if test="otbName != null">
        #{otbName,jdbcType=VARCHAR},
      </if>
      <if test="buildAddress != null">
        #{buildAddress,jdbcType=VARCHAR},
      </if>
      <if test="addr5Id != null">
        #{addr5Id,jdbcType=VARCHAR},
      </if>
      <if test="addr5Fullname != null">
        #{addr5Fullname,jdbcType=VARCHAR},
      </if>
      <if test="polygonLonlat != null">
        #{polygonLonlat,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        #{lon,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.buzheng.demo.esm.domain.TOtbExample" resultType="java.lang.Long">
    select count(*) from T_OTB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_OTB
    <set>
      <if test="record.otbCode != null">
        OTB_CODE = #{record.otbCode,jdbcType=VARCHAR},
      </if>
      <if test="record.otbName != null">
        OTB_NAME = #{record.otbName,jdbcType=VARCHAR},
      </if>
      <if test="record.buildAddress != null">
        BUILD_ADDRESS = #{record.buildAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.addr5Id != null">
        ADDR5_ID = #{record.addr5Id,jdbcType=VARCHAR},
      </if>
      <if test="record.addr5Fullname != null">
        ADDR5_FULLNAME = #{record.addr5Fullname,jdbcType=VARCHAR},
      </if>
      <if test="record.polygonLonlat != null">
        POLYGON_LONLAT = #{record.polygonLonlat,jdbcType=VARCHAR},
      </if>
      <if test="record.lon != null">
        LON = #{record.lon,jdbcType=DECIMAL},
      </if>
      <if test="record.lat != null">
        LAT = #{record.lat,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_OTB
    set OTB_CODE = #{record.otbCode,jdbcType=VARCHAR},
      OTB_NAME = #{record.otbName,jdbcType=VARCHAR},
      BUILD_ADDRESS = #{record.buildAddress,jdbcType=VARCHAR},
      ADDR5_ID = #{record.addr5Id,jdbcType=VARCHAR},
      ADDR5_FULLNAME = #{record.addr5Fullname,jdbcType=VARCHAR},
      POLYGON_LONLAT = #{record.polygonLonlat,jdbcType=VARCHAR},
      LON = #{record.lon,jdbcType=DECIMAL},
      LAT = #{record.lat,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.buzheng.demo.esm.domain.TOtb">
    update T_OTB
    <set>
      <if test="otbName != null">
        OTB_NAME = #{otbName,jdbcType=VARCHAR},
      </if>
      <if test="buildAddress != null">
        BUILD_ADDRESS = #{buildAddress,jdbcType=VARCHAR},
      </if>
      <if test="addr5Id != null">
        ADDR5_ID = #{addr5Id,jdbcType=VARCHAR},
      </if>
      <if test="addr5Fullname != null">
        ADDR5_FULLNAME = #{addr5Fullname,jdbcType=VARCHAR},
      </if>
      <if test="polygonLonlat != null">
        POLYGON_LONLAT = #{polygonLonlat,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        LON = #{lon,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        LAT = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
    </set>
    where OTB_CODE = #{otbCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.buzheng.demo.esm.domain.TOtb">
    update T_OTB
    set OTB_NAME = #{otbName,jdbcType=VARCHAR},
      BUILD_ADDRESS = #{buildAddress,jdbcType=VARCHAR},
      ADDR5_ID = #{addr5Id,jdbcType=VARCHAR},
      ADDR5_FULLNAME = #{addr5Fullname,jdbcType=VARCHAR},
      POLYGON_LONLAT = #{polygonLonlat,jdbcType=VARCHAR},
      LON = #{lon,jdbcType=DECIMAL},
      LAT = #{lat,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL}
    where OTB_CODE = #{otbCode,jdbcType=VARCHAR}
  </update>
</mapper>